<div class="card flex justify-content-center"><!--class="card flex justify-center"-->
  <!-- button for showing -->
  <!--<p-button (click)="showDialog()" [label]="label"/>-->
  <p-dialog [header]="formTitle"
            [draggable]="draggable"
            [modal]="true"
            [(visible)]="visible"
            [style]="{ width: '25rem' }"
            [resizable]="resizable"
            [closable]="true"
            (onHide)="getCloseEventFormGroup()"> <!-- (onHide) is event of close (X) button -->
    <ng-container  [formGroup]="formGroup">
      <div class="field-row">
        <ng-container  *ngFor="let dialogKeyFilter of dynamicDialogFields">
          <div class="flex align-items-center gap-3 mb-3"><!-- flex items-center gap-4 mb-4 -->
            <label [for]="dialogKeyFilter.id" class="p-text-secondary block w-2">{{dialogKeyFilter.label}}</label>
            <!-- if you can't bind some attr of html tag try wrapping by [()] -->
            <input pInputText
                   class="flex-auto"
                   [formControlName]="dialogKeyFilter.formControlName!"
                   [id]="dialogKeyFilter.id"
                   autocomplete="off"
                   [placeholder]="dialogKeyFilter.placeholder"
                   [pKeyFilter]="dialogKeyFilter.pKeyFilter"
                   [attr.type]="dialogKeyFilter.type"
                   [style]="{'width':'100%'}"
                   [readOnly]="dialogKeyFilter.readOnly"
            />
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-template pTemplate="footer" >  <!-- class="flex justify-end gap-2"-->
      <button
        pButton
        pRipple
        label="Submit"
        [disabled]="disableButtons"
        class="p-button-secondary"
        (click)="getSubmitEventFormGroup()">
      </button>
      <button
        pButton
        pRipple
        label="Clear"
        [disabled]="disableButtons"
        class="p-button-secondary"
        (click)="getClearEventFormGroup()">
      </button>
    </ng-template>

  </p-dialog>
</div>
